@model PeopleListViewModel

<h4 class="bg-primary text-white text-center p-2">People</h4>
<component type="typeof(Advanced.Blazor.PeopleList)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2">Events</h4>
<component type="typeof(Advanced.Blazor.Events)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2">Bindings</h4>
<component type="typeof(Advanced.Blazor.Bindings)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2">Bindings DateTime</h4>
<component type="typeof(Advanced.Blazor.BindingsDateTime)" render-mode="Server" />

<h4 class="bg-primary text-white text-center p-2">Code-Behind</h4>
<component type="typeof(Advanced.Blazor.Split)" render-mode="Server" />